/* Main content CSS. */
#content {
	height: 800px;
	width: 100%;
}

#content ul {
	list-style: none;
}

#content a {
	text-decoration: none;
	color: #41537E;
}

#content a:hover {
	color: #9F9F9F;
}

#content h1 {
	padding: .5em;
	color: #41537E;
}

#content hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
}

#content p {
	color: #555555;
	padding: .5em .25em 0 1.5em;
}

#content ul p {
	padding: .5em .25em 0 .25em;
}

#articles {
	width: 70%;
	height: 100%;
	float: left;
	overflow-y: auto;
}

#share {
	margin: 1em 0 0 1em;
}

#share li {
	display: inline;
	padding: 0 1em; 0 1em;
}

#twitter {
	float: right;
	height: 100%;
	width: 30%;
}

