/* Main content CSS. */
#content {
	height: auto;
	width: 100%;
}

#content ul {
	list-style: none;
}

#content ul a {
	text-decoration: none;
	color: #41537E;
}

#content ul a:hover {
	color: #9F9F9F;
}

#content ul li {
	padding: .25em .5em .25em .5em;
	margin: 0 0 2em 0;
}

#content h1 {
	padding: .5em;
	color: #41537E;
}

#content h3 {
	font-size: small;
	color: #A9A9A9;
}

#content hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
}

#content p {
	color: #555555;
	padding: .5em .25em 0 1.5em;
}

#content ul p {
	padding: .5em .25em 0 .25em;
}

#comments hr {
	margin: 1em 0 1em 0;
}

#comments h2 {
	
}

#comments h3 {
	font-size: medium;
	color: #555555;
}

#comments h4 {
	font-size: small;
	color: #A9A9A9;
}

#comments form {
	margin: 1em;
}

#share li {
	display: inline;
}