/* Reset margin and padding for entire page. */
* {
	margin: 0;
	padding: 0;
	font-family: Century Gothic,Avant Garde,Arial,Helvetica,sans-serif;
}

body {
	text-align: center;
	background-image: linear-gradient(bottom, rgb(255,255,255) 8%, rgb(240,240,240) 54%, rgb(222,222,222) 77%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 8%, rgb(240,240,240) 54%, rgb(222,222,222) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 8%, rgb(240,240,240) 54%, rgb(222,222,222) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 8%, rgb(240,240,240) 54%, rgb(222,222,222) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 8%, rgb(240,240,240) 54%, rgb(222,222,222) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.08, rgb(255,255,255)),
		color-stop(0.54, rgb(240,240,240)),
		color-stop(0.77, rgb(222,222,222))
);
	background-attachment:fixed;
	height:100%;
}

/* Div block in which all content for the page is placed so it's centered on the page. */
#page {
	width: 80%;
	min-width: 900px;
	max-width: 1200px;
	height: auto;
	margin: 50px auto;
	text-align: left;
	border-style: solid;
	border-color: #41537E;
	border-radius: 15px;
}

/* Title header CSS. */
#title {
	background-color: #41537E;
	color: white;
	height: 90px;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 1.5em 1em 1.5em 2em;
}

#title header {
	float: left;
}

#title h1 {
	font-size: 3em;
}

#title h2 {
	font-size: 1em;
}

#ad {
	float: right;
}

/* CSS for the navigation bar and links contained within. */
nav {
	background-color: #41537E;
	height: 25px;
}

nav ul {
	list-style-type: none;
	padding: 0 1em;
}

nav ul li {
	display: inline;
	color: #9F9F9F;
	font-weight: bold;
	padding: 0em 1em;
}

nav ul a {
	color: white;
	text-decoration: none;
}

nav ul a:visited {
	color: #E1E1E1;
}

nav ul a:hover {
	color: #8D8D8D;
}

/* Footer CSS.  Mostly copyright information. */
footer {
	color: white;
	font-weight: bold;
	background-color: #41537E;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 1em .5em 1em 2em;
	height: 64px;
}

#copyright {
	float: left;
	text-align: left;
	vertical-align: middle;
	line-height: 64px;
	width: 20%;
}

#about {
	float: left;
	width: 35%;
	height: 100%;
	position: relative;
	text-align: center;
	font-size: small;
	
}

#blurb {
	width: 100%;
	height: 100%;
	display: table;
}

#blurb p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#social {
	float: right;
	width: 45%
	text-align: center;
}

#social ul {
	list-style: none;
}

#social li {
	display: inline;
}