* {
  padding: 0;
  margin: 0; }

body {
  background-color: #E5E5E5;
  text-align: center; }

#page {
  width: auto;
  margin: 2em; }

header {
  display: inline-block;
  min-width: 600px;
  max-width: 1100px;
  width: 100%; }

.title {
  font-family: 'Fredericka the Great', cursive;
  background-color: #3b4778;
  color: white;
  height: 65px;
  width: 600px;
  border-radius: 6px;
  display: inline-block;
  padding: 1em; }
  @media screen and (min-width: 1280px) {
    .title {
      float: left; } }
  @media screen and (max-width: 1280px) {
    .title {
      float: top; } }
  .title h1 {
    font-size: xx-large; }
  .title h2 {
    font-size: large; }

nav {
  font-family: 'Jura', sans-serif; }
  @media screen and (min-width: 1280px) {
    nav {
      float: right;
      margin: 1em;
      line-height: 100px; } }
  @media screen and (max-width: 1280px) {
    nav {
      float: bottom;
      line-height: 50px; } }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline; }
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold; }
    nav a:hover {
      color: black;
      background-color: #828CB8;
      -moz-transition: all 0.25s ease-in;
      -webkit-transition: all 0.25s ease-in;
      -o-transition: all 0.25s ease-in;
      transition: all 0.25s ease-in; }

.nav-button {
  background-color: #3b4778;
  padding: .25em;
  margin: 0 .5em;
  border-radius: 8px; }

.content {
  display: inline-block;
  min-width: 600px;
  max-width: 1100px;
  width: 100%;
  height: 1000px; }

.index {
  display: inline-block; }
  @media screen and (min-width: 1280px) {
    .index {
      float: left;
      width: 60%; } }
  .index header {
    font-family: 'Fredericka the Great', cursive;
    background-color: #707EB8;
    color: white;
    width: auto;
    border-radius: 15px; }

.twitter {
  width: 20%;
  float: right; }
  @media screen and (max-width: 1280px) {
    .twitter {
      display: none; } }

footer {
  display: inline-block;
  text-align: center;
  min-width: 600px;
  max-width: 1100px;
  width: 100%;
  height: 40px; }
  footer ul {
    list-style: none;
    float: right;
    height: 40px; }
    footer ul li {
      vertical-align: middle;
      display: inline-block; }
  footer a {
    text-decoration: none;
    color: black; }
    footer a:hover {
      color: grey;
      -moz-transition: all 0.25s ease-in;
      -webkit-transition: all 0.25s ease-in;
      -o-transition: all 0.25s ease-in;
      transition: all 0.25s ease-in; }
  footer .copyright {
    float: left; }
