{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'articles/page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'articles/content.css' %}" />
<script type="text/javascript" src={% static 'articles/script.js' %}></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43642332-1', 'saltosaur.us');
  ga('send', 'pageview');

</script>

<div id="page">
	
	<section id="title">
		<header>
			<h1>Insert Witty Title</h1>
			<h2>Where Brian Salter dumps the byproducts of his creativity...</h2>
		</header>
		<div id="ad">
			<script type="text/javascript"><!--
				google_ad_client = "ca-pub-7290680600854505";
				/* Header */
				google_ad_slot = "9177634349";
				google_ad_width = 234;
				google_ad_height = 60;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</section>

	<nav>
		<ul>
			<li><a href="{% url 'home:index' %}">Home</a></li>
			<li><a href="{% url 'projects:index' %}">Projects</a></li>
			<li>Articles</li>
			<li><a href="{% url 'FAQ:index' %}">FAQ</a></li>
		</ul>
	</nav>
	
	<section id="content">
		<h1>{{ article.title }}</h1>
		<p id="article">{{ article.contents|safe|linebreaks }}</p>
		<ul id="share">
			<li><script type="text/javascript">
				reddit_url = "http://saltosaur.us{% url 'articles:article' article.id %}";
				reddit_title = "{{article.title}}";
				</script>
				<script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script></li>
			<li><div class="fb-like" data-href="http://saltosaur.us{% url 'articles:article' article.id %}" data-width="450" data-layout="button_count" data-action="recommend" data-show-faces="false" data-send="false"></div></li>
			<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://saltosaur.us{% url 'articles:article' article.id %}" data-text="{{ article.title }}" data-via="saltosaurus">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
		</ul>
		<section id="comments">
			<hr>
			{% if comments_list %}
				<ul>
				{% for comment in comments_list %}
					<li>
					<h2>{{comment.author}}</h2>
					<h4>{{comment.pub_date}}</h4>
					<h3>{{comment.contents}}</h3>
					</li>
				{% endfor %}
				</ul>
			{% endif %}
			<form action="{% url 'articles:new_comment' article.id %}" method="post" name="newComment" onsubmit="return validateComment()">
			{% csrf_token %}
			<h5>Have something new to add?</h5>
			<input type="text" name="author" value="Anonymous" 
				onfocus="inputFocus(this)" onblur="inputBlur(this)"/>
			<textarea name="comment" rows = "3" cols = "80" required="required"/></textarea>
			<input type="submit" value="Submit" />
			</form>
		</section>
	</section>
	
	<footer>
		<div id="copyright">
			© 2013 Brian Salter
		</div>
		<div id="about">
			<div id="blurb">
				<p>Brian Salter is a writer, a computer scientist and a generally nice guy.  Currently he's working on his break-out novel and trying to graduate.</p>
			</div>
		</div>
		<div id="social">
			<ul>
				<li>
					<a href="https://www.facebook.com/AuthorBrianSalter"><img src="{% static "home/images/facebook-64.png" %}" alt="Facebook" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="https://twitter.com/salterbw"><img src="{% static "home/images/twitter-64.png" %}" alt="Twitter" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="https://github.com/salterbw"><img src="{% static "home/images/github-64.png" %}" alt="Github" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="http://www.linkedin.com/in/briansalter/"><img src="{% static "home/images/linkedin-64.png" %}" alt="LinkedIn" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="http://www.reddit.com/user/BrianSalter/"><img src="{% static "home/images/reddit-64.png" %}" alt="Reddit" width="64" height="64" border="0"></a>
				</li>
			</ul>
		</div>
	</footer>
</div>
