{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

<h1>My ramblings...</h1>

{% if latest_article_list %}
	<ul>
	{% for article in latest_article_list %}
		<h3>{{article.title}}</h3>
		<p>{{article.contents}}</p>
		{% if comments_list %}
			<ul>
			{% for comment in comments_list %}
				{% if comment.article == entry %}
					<li><a href="{% url 'articles:comment' article.id comment.id %}">{{comment.contents}}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		{% else %}
			<p>No current comments for this entry.</p>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No articles are available.</p>
{% endif %}

