{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'projects/content.css' %}" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43642332-1', 'saltosaur.us');
  ga('send', 'pageview');

</script>

<div id="page">
	<section id="title">
		<header>
			<h1>Insert Witty Title</h1>
			<h2>Where Brian Salter dumps the byproducts of his creativity...</h2>
		</header>
		<div id="ad">
			<script type="text/javascript"><!--
				google_ad_client = "ca-pub-7290680600854505";
				/* Header */
				google_ad_slot = "9177634349";
				google_ad_width = 234;
				google_ad_height = 60;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</section>

	<nav>
		<ul>
			<li><a href="{% url 'home:index' %}">Home</a></li>
			<li>Projects</li>
			<li><a href="{% url 'articles:index' %}">Articles</a></li>
			<li><a href="{% url 'FAQ:index' %}">FAQ</a></li>
		</ul>
	</nav>

	<section id="content">
		{% if latest_project_list %}
			<ul>
			{% for project in latest_project_list %}
				<li>
				{% if project.url %}
					<h1><a href="{{project.url}}">{{project.name}}</a></h1>
				{% else %}
					<h1>{{project.name}}</h1>
				{% endif %}
				{% if project.is_completed %}
					<h2>Completed: {{project.end_date}}</h2>
				{% else %}
					<h2>Estimated completion date: {{project.end_date}}</h2>
				{% endif %}
				<hr>
				<p>{{project.description|safe|linebreaks}}</p>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<h1>No projects are available.</h1>
		{% endif %}
	</section>
	
	<footer>
		<div id="copyright">
			© 2013 Brian Salter
		</div>
		<div id="about">
			<div id="blurb">
				<p>Brian Salter is a writer, a computer scientist and a generally nice guy.  Currently he's working on his break-out novel and trying to graduate.</p>
			</div>
		</div>
		<div id="social">
			<ul>
				<li>
					<a href="https://www.facebook.com/AuthorBrianSalter"><img src="{% static "home/images/facebook-64.png" %}" alt="Facebook" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="https://twitter.com/salterbw"><img src="{% static "home/images/twitter-64.png" %}" alt="Twitter" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="https://github.com/salterbw"><img src="{% static "home/images/github-64.png" %}" alt="Github" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="http://www.linkedin.com/in/briansalter/"><img src="{% static "home/images/linkedin-64.png" %}" alt="LinkedIn" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="http://www.reddit.com/user/BrianSalter/"><img src="{% static "home/images/reddit-64.png" %}" alt="Reddit" width="64" height="64" border="0"></a>
				</li>
			</ul>
		</div>
	</footer>
</div>
