@import "_misc.scss";

header {
	display: inline-block;
	min-width: 600px;
	max-width: 1100px;
	width: 100%;
	text-align: center;
}

.title {
	font-family: 'Kelly Slab', cursive;
	background-color: $title-bg;
	color: $title-text;
	height: 65px;
	width: 630px;
	border-radius: 6px;
	padding: 1em;
	box-shadow: 1px 1px 1px $title-shadow;
	@media screen and (min-width: $resolution-switch) {
		float: left;
		display: inline-block;
	}
	@media screen and (max-width: $resolution-switch) {
		display: block;
		margin: 0 auto;
	}
	h1 {
		font-size: xx-large;
	}
	h2 {
		font-size: large;
	}
}

.social {
	li {
		height: 35px;
		padding: 14px 1em 0 1em;
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: $social-off;
		@include transition(.25s);
		&:hover {
			color: $social-on;
			opacity: .7;
		}
	}
}

nav {
	@media screen and (min-width: $resolution-switch) {
		float: right;
	}
	@media screen and (max-width: $resolution-switch) {
		display: block;
		float: none;
		margin: 0 auto;
	}
	font-family: 'Kelly Slab', cursive;
	width: 425px;
	line-height: 50px;
	ul {
		list-style: none;
		li {
			display: inline;
		}
	}
	a {
		text-decoration: none;
		color: $nav-off-text;
		font-weight: bold;
		@include transition(.25s);
		&:hover, &.current {
			color: $nav-on-text;
			opacity: .6;
			background-color: $nav-on-bg;
		}
	}
}

.nav-button {
	background-color: $nav-off-bg;
	box-shadow: 1px 1px 1px $nav-shadow;
	padding: .25em;
	margin: 0 .5em;
	border-radius: 8px;
}