$bg: #F0E9E3;

$title-bg: #B19177;
$title-text: white;
$title-shadow: #525150;

$nav-off-bg: #C3A791;
$nav-off-text: white;
$nav-on-bg: #E6D7CA;
$nav-on-text: black;
$nav-shadow: #474644;

$social-off: DarkSlateGray;
$social-on: LightSlateGray;

$resolution-switch: 1200px;

$text-WIP: #5B939D;
$text-FIN: green;
$text-ABND: red;

$header-shadow: grey;
$project-shadow: LightSlateGrey;

@mixin transition($time, $type: ease-in-out) {
	-moz-transition: all $time $type;
	-webkit-transition: all $time $type;
	-o-transition: all $time $type;
	transition: all $time $type;
}

@mixin hr-gradient($left, $middle, $right) {
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,$left), rgba(0,0,0,$middle), rgba(0,0,0,$right)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,$left), rgba(0,0,0,$middle), rgba(0,0,0,$right)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,$left), rgba(0,0,0,$middle), rgba(0,0,0,$right)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,$left), rgba(0,0,0,$middle), rgba(0,0,0,$right)); 
}