@import "_header.scss";

.index {
	display: inline-block;
	header {
		font-family: 'Fredericka the Great', cursive;
		background-color: #707EB8;
		color: white;
		width: auto;
		
	}
}

@import "_footer.scss";