<!DOCTYPE html>

<link href="{{ url_for('static', filename='genericons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='script.js') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href='http://fonts.googleapis.com/css?family=Kelly+Slab|Jura' rel='stylesheet' type='text/css'>

<div id="page">
	<header>
		<section class="title">
			<h1>The Saltosaurus Speaks</h1>
			<h2>Where Brian Salter dumps the byproducts of his creativity...</h2>
		</section>
		
		<ul class="social">
			<li><a href="https://www.facebook.com/AuthorBrianSalter"><div class="genericon genericon-facebook"></div></a></li>
			<li><a href="https://twitter.com/saltosaurus"><div class="genericon genericon-twitter"></div></a></li>
			<li><a href="https://github.com/saltosaurus"><div class="genericon genericon-github"></div></a></li>
			<li><a href="http://www.linkedin.com/in/briansalter"><div class="genericon genericon-linkedin-alt"></div></a></li>
		</ul>
		
		<nav>
			<ul>
				<li><a href="{{ url_for('index') }}" class="nav-button">Home</a></li>
				<li><a href="{{ url_for('articles') }}" class="nav-button">Articles</a></li>
				<li><a href="{{ url_for('projects') }}" class="nav-button">Projects</a></li>
				<li><a href="{{ url_for('faq') }}" class="nav-button current">FAQ</a></li>
				<li><a href="{{ url_for('static', filename='resume.pdf') }}" class="nav-button">Resume</a></li>
			</ul>
		</nav>
	</header>
	
	<div class="content">
		<ul class="FAQ" style="text-align: left;">
			<li>
				<header>
					<h1>Who are you?</h1>
				</header>
				<p> My name is Brian Salter and I'm a writer, a Computer Scientist and a generally nice guy.</br></br>
					Currently I'm working on getting my first Bachelor's Degree from the University of Minnesota in Computer Science, with an emphasis in Machine Learning & Artificial Intelligence.  Thankfully, I graduate in December.</br></br>
					I'm also a writer, currently working on my second novel, Titan's Awakening.  Eventually I'll have some sample chapters available here at saltosaur.us.
				</p>
			</li>
			<li>
				<header>
					<h1>What are you doing with you life?</h1>
				</header>
				<p> The short answer is: learning all the things.  I have a deep love of knowledge in all disciplines, though my focii are writing and CompSci.</br></br>
					Mostly I'm trying to finally graduate with my B.S. in CSCI and get my novel finished.
				</p>
			</li>
			<li>
				<header>
					<h1>What are you working on?</h1>
				</header>
				<p> 
					I have a number of projects currently in the works, most of which are found <a href="{{ url_for('projects') }}">here</a>.</br></br>
					Primarily I'm focusing on getting this website "completed" and finishing my novel.  Oh, and schoolwork of course.  
				</p>
			</li>
		</ul>
		<section class="twitter">
			<a class="twitter-timeline"  href="https://twitter.com/saltosaurus"  data-widget-id="331566646533685249"  data-chrome="noheader nofooter transparent" data-tweet-limit="5" data-border-color="#C3A791">Tweets by @saltosaurus</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</section>
	</div>
	
	<footer>
		<h1 class="copyright">&copy; 2013 Brian Salter</h1>
	</footer>
</div>