<link href="{{ url_for('static', filename='genericons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='script.js') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great|Jura' rel='stylesheet' type='text/css'>

<div id="page">
	<header>
		<section class="title">
			<h1>The Saltosaurus Speaks</h1>
			<h2>Where Brian Salter dumps the byproducts of his creativity...</h2>
		</section>
		
		<ul class="social">
			<li><a href="https://www.facebook.com/AuthorBrianSalter"><div class="genericon genericon-facebook"></div></a></li>
			<li><a href="https://twitter.com/saltosaurus"><div class="genericon genericon-twitter"></div></a></li>
			<li><a href="https://github.com/saltosaurus"><div class="genericon genericon-github"></div></a></li>
			<li><a href="http://www.linkedin.com/in/briansalter"><div class="genericon genericon-linkedin-alt"></div></a></li>
		</ul>
		
		<nav>
			<ul>
				<li><a href="{{ url_for('index') }}" class="nav-button">Home</a></li>
				<li><a href="{{ url_for('articles') }}" class="nav-button">Articles</a></li>
				<li><a href="{{ url_for('projects') }}" class="nav-button current">Projects</a></li>
				<li><a href="{{ url_for('faq') }}" class="nav-button">FAQ</a></li>
				<li><a href="{{ url_for('static', filename='resume.pdf') }}" class="nav-button">Resume</a></li>
			</ul>
		</nav>
	</header>
	
	<div class="content">
		<ul class="project" style="text-align: left;">
			<li>
				<header>
					<h1><a href="https://github.com/saltosaurus/saltosaurus">saltosaur.us</a></h1>
					<div class="status WIP">Work in Progress</div>
				</header>
				<p> 
					The site you're looking at, Saltosaur.us was built using a combination of Flask (Python microframework), Sass & Coffeescript.</br></br>

					Currently the site is not mobile optimized, though it is next on my to-do list.
				</p>
			</li>
			<li>
				<header>
					<h1>Titan's Awakening</h1>
					<div class="status WIP">Work in Progress</div>
				</header>
				<p> 
					I'm currently working on my breakout novel set in Forthien.</br></br>

					A young thief considering an escape from the life he leads takes a job with more risk than he's accustomed to.  When the job goes wrong though he's forced out of the city he's lived in his entire life and on a quest to discover who he is and ultimately, the role he'll come to play in the upcoming power struggle between nations.
				</p>
			</li>
			<li>
				<header>
					<h1><a href="https://github.com/saltosaurus/PUMA">P&Uuml;MA</a></h1>
					<div class="status WIP">Work in Progress</div>
				</header>
				<p> 
					Each movie on IMDb has a ten-point scale that users can use to review (based on whatever criteria they feel like).  P&Uuml;MA (Probably &Uuml;ber Movie Advice) seeks to predict this score using a combination of movie metadata acquired from IMDb and common machine learning techniques (such as Neural Networks or Naíve Bayes). </br></br>

					This project began as a class project Spring 2013 for CSCI 4707 (Databases) as well as CSCI 5521 (Pattern Recognition) at UMN.  Extension of this work will be part of research I'm doing with Carl Sturtivant to develop machine learning techniques in D using concurrency wherever feasible.  Additionally, work is being done as part of a class project for CSCI 5525 (Machine Learning) Fall 2013.</br></br>

					Eventually I intend to develop a web-based front end, likely using Node.js and likely viewable as a subdomain here at saltsaur.us.  </p>
			</li>
			<li>
				<header>
					<h1>StudentGrader</h1>
					<div class="status WIP">Work in Progress</div>
				</header>
				<p> 
					StudentGrader is an Android tablet app I'm developing in conjunction with several other TAs.  It is designed to replace the paper grading sheets we currently use, thus saving us the hassle or organizing thousands of these sheets each semester.</br></br>

					I've largely been involved in a project management capacity, stepping in to do actual development only when necessary.</br></br>
					
					As the code for this project is proprietary, it cannot be made available.
				</p>
			</li>
			<li>
				<header>
					<h1>KIX to C++ Parser/Translator</h1>
					<div class="status FIN">Completed</div>
				</header>
				<p> 
					KIX was an artificial, functional programming language similar to Scheme.  As a class project for CSCI 3081 (Program Design & Development) I designed and built a language parser which could take a file in our faux language and convert it into C++, first by determining the <a href="http://en.wikipedia.org/wiki/Abstract_syntax_tree">Abstract Syntax Tree</a> and then building the C++ file from this tree.</br></br>

					The code for this project is unavailable as it is still being used as the project each semester.				</p>
			</li>
		</ul>
		<section class="twitter">
			<a class="twitter-timeline"  href="https://twitter.com/saltosaurus"  data-widget-id="331566646533685249"  data-chrome="noheader nofooter transparent" data-tweet-limit="5" data-border-color="#C3A791">Tweets by @saltosaurus</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</section>
	</div>
	
	<footer>
		<h1 class="copyright">&copy; 2013 Brian Salter</h1>
	</footer>
</div>
