{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'home/page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/content.css' %}" />
<script type="text/javascript" src="{% static 'home/script.js' %}" ></script>
<link href='http://fonts.googleapis.com/css?family=Rosario' rel='stylesheet' type='text/css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<title>The Saltosaurus Speaks</title>
<meta name="description" content="Where Brian Salter dumps the byproducts of his creativity...">

<div id="page">
	<section id="title">
		<header>
			<h1>The Saltosaurus Speaks</h1>
			<h2>Where Brian Salter dumps the byproducts of his creativity...</h2>
		</header>
		<div id="ad">
			<script type="text/javascript"><!--
				google_ad_client = "ca-pub-7290680600854505";
				/* Header */
				google_ad_slot = "9177634349";
				google_ad_width = 234;
				google_ad_height = 60;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</section>

	<nav>
		<ul>
			<li>Home</li>
			<li><a href="{% url 'projects:index' %}">Projects</a></li>
			<li><a href="{% url 'articles:index' %}">Articles</a></li>
			<li><a href="{% url 'FAQ:index' %}">FAQ</a></li>
		</ul>
	</nav>

	<section id="content">
		<div id="articles">
			{% if latest_article_list %}
				{% for article in latest_article_list %}
					<h1><a href="{% url 'articles:article' article.id %}">{{article.title}}</a></h1>
					{{ article.contents|safe|linebreaks|truncatewords_html:200 }}
					<ul id="share">
						<li><script type="text/javascript">
							reddit_url = "http://saltosaur.us{% url 'articles:article' article.id %}";
							reddit_title = "{{article.title}}";
							</script>
							<script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script></li>
						<li><div class="fb-like" data-href="http://saltosaur.us{% url 'articles:article' article.id %}" data-width="450" data-layout="button_count" data-action="recommend" data-show-faces="false" data-send="false"></div></li>
						<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://saltosaur.us{% url 'articles:article' article.id %}" data-text="{{ article.title }}" data-via="saltosaurus">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
					</ul>
				{% endfor %}
			{% else %}
				<h4>No articles are available.</h4>
			{% endif %}
		</div>
		
		<div id="twitter">
			<a class="twitter-timeline"  
				href="https://twitter.com/salterbw"  
				data-widget-id="331566646533685249">
				Tweets by @salterbw
			</a>
				
			<script>
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>
			
		</div>
	</section>
	
	<footer>
		<div id="copyright">
			© 2013 Brian Salter
		</div>
		<div id="about">
			<div id="blurb">
				<p>Brian Salter is a writer, a computer scientist and a generally nice guy.  Currently he's working on his break-out novel and trying to graduate.</p>
			</div>
		</div>
		<div id="social">
			<ul>
				<li>
					<a href="https://www.facebook.com/AuthorBrianSalter"><img src="{% static "home/images/facebook-64.png" %}" alt="Facebook" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="https://twitter.com/salterbw"><img src="{% static "home/images/twitter-64.png" %}" alt="Twitter" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="https://github.com/salterbw"><img src="{% static "home/images/github-64.png" %}" alt="Github" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="http://www.linkedin.com/in/briansalter/"><img src="{% static "home/images/linkedin-64.png" %}" alt="LinkedIn" width="64" height="64" border="0"></a>
				</li>
				<li>
					<a href="http://www.reddit.com/user/BrianSalter/"><img src="{% static "home/images/reddit-64.png" %}" alt="Reddit" width="64" height="64" border="0"></a>
				</li>
			</ul>
		</div>
	</footer>
</div>
